.article-author {
  font-weight: bold;
  font-size: 1.25rem;
}

.article-time-stamp {
  color: grey;
  font-size: 1rem;
  margin-bottom: 20px;
}

#article-page-img {
  max-width: 100%;
}

.voting-button-row {
  /* border: 1px solid red; */
}

#counter {
  font-size: 1.75rem;
  padding-right: 10px;
}

.counter-up-voted {
  color: green;
}

.counter-down-voted {
  color: red;
}

.vote-button {
  border: white;
  background-color: #F6F6F6;
}

.up-vote-button-clicked {
  color: green;
}

.down-vote-button-clicked {
  color: red;
}

.vote-icon {
  font-size: 1.5rem;
  margin-right: 5px;
}

