#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  max-width: 1280px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  border: 1px solid black;
  margin: 0 auto;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  max-width: 1000px;
}

header {
  border: 1px solid red;
  width: 100%;
}

h1 {
  color:red;
  font-size: 3.2em;
  line-height: 1.1;
  padding-left: 15px;
}

#articles-container {
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  column-gap: 15px;
  row-gap: 15px;
  margin: 10px auto 70px auto;
  min-width: 325px;
  justify-content: space-between;
}

.article-card {
  border: 1px solid blue;
  flex: 1 1 auto;
  width: 200px;
}

.article-img {
  display: block;
  width: 100%;
  aspect-ratio: 1 / 1;
  margin: 0px auto;
  max-width: 300px;
}

