* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 18px;
}

body {
  /* border: 1px solid black; */
  font-family: Noto Sans, sans-serif;
  min-width: 320px;
}

a:hover {
  font-weight: bold;
  text-decoration: underline;
}

button:hover {
  font-weight: bold;
  text-decoration: underline;
}

main {
  /* border: 1px solid pink; */
  padding: 15px;
  max-width: 1000px;
  min-height: 100vh;
  margin: auto;
  padding-bottom: 50px;
  margin-bottom: 50px;
  background-color: #F6F6F6;
}

header {
  /* border: 1px solid red; */
  margin: 0px;
  padding: 0px;
  width: 100%;
}

button {
  font-size: 1.25rem;
}

.spinner{
  width: 220px;
  margin: auto;
  margin-top: 150px;
}

a {
  text-decoration: none;
}

p {
  padding: 5px;
}

h1 {
  color: white;
  background-color: #B80000;
  font-family: Noto Sans, sans-serif;
  font-size: 5.0rem;
  margin: 0px;
  padding: 0px;
  padding-left: 15px;
  padding-top: 0px;
  height: 175px;
  line-height: 175px;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 4.0rem;
  }
}

#main-header-link:hover{
  color: white;
  text-decoration: none;
}

h2 {
  font-family: Noto Sans, sans-serif;
  font-size: 3rem;
  margin-bottom: 20px;
  margin-top: 10px;
}

h3 {
  color: black;
  font-size: 1.25rem;
  padding-top: 10px;
  padding-bottom: 10px;
}

#navbar{
  background-color: #B80000;
    border-top: 1px solid white;
}

#nav-bar-inner {
  background-color: #B80000;
  list-style-type: none;
  padding: 5px 10px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  align-items: center;
  justify-content: space-between;
  min-height: 50px;
  max-width: 1000px;
  margin: auto;
}


#nav-bar-inner-left{
  border: none;
  display: flex;
  flex-wrap: wrap;
  padding-right: 250px;
  justify-content: center;
}

.nav-bar-topic-list{
      /* border: 2px solid green; */
  display: inline;
  list-style: none;
}

.nav-bar-topics{
    /* border: 2px solid green; */
  display: inline;
  border-left: 1px solid #f6f6f6;
  padding: 2px 10px;
}

#nav-bar-home-link{
  color: white;
  padding: 2px 10px;
  margin-left: 0px;
}

.nav-bar-links {
  flex: 0 0 auto;
  color: white;
  margin-left: 5px;
}

#nav-bar-username{
  border-right: 1px solid #f6f6f6;
  margin-right: 2px;
  padding: 2px 15px 2px 10px;
  color: white;
}

#sign-in-container {
  font-size: 1rem;
  padding: 0px;
}

.sign-in{
  margin-left: 10px;
  padding-right: 5px;
}

.sign-in-link{
  color: white;
  padding-right: 15px;
}


#sign-out-button {
  margin: 0px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1rem;
  background-color: #B80000;
  border: none;
  color: white;
}

#sorting-drop-down-container{
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  align-items: center;
}

#sort-by-dropdown{
  margin-left: 10px;
  padding: 5px;
}

#order-by-dropdown{
  margin-left: 10px;
  padding: 5px;
}

.drop-down-label{
  margin-left: 10px;
}