#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  max-width: 1280px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  border: 1px solid black;
  margin: 0 auto;
  padding: 15px;
  min-width: 320px;
  max-width: 1000px;
}

a {
  text-decoration: none;
}

header {
  border: 1px solid red;
  width: 100%;
}

h1 {
  color: red;
  font-size: 5rem;
  line-height: 1.1;
  padding-left: 15px;
}

h3 {
  font-size: 1.5rem;
}

#articles-container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 15px;
  row-gap: 15px;
  margin: 10px auto 70px auto;
  justify-content: center;
  list-style-type: none;
}

.article-card {
  border: 1px solid blue;
  flex: 1 1 200px;
  max-width: 230px;
  position: relative;
}

.article-card-big {
  border: 1px solid blue;
  flex: 1 1 400px;
  max-width: 475px;
  position: relative;
}

#article-card-votes{
  margin: 0px;
  font-size: 1.25rem;
  color: grey;
  position: absolute;
  bottom: 0px;
}

.article-img {
  width: 100%;
  max-width: 230px;
  aspect-ratio: 1/1;
}

.article-img-big {
  width: 100%;
  /* max-width: 230px; */
  aspect-ratio: 1/1;
}

.article-card-headlines {
  color: black;
  text-align: center;
}

#article-page {
  padding: 15px;
}

.article-author{
  font-weight: bold;
}

.article-time-stamp{
  color: grey;
  font-size: 1.25rem;
}

#article-page-img-container {
  margin-left: 25px;
}

#article-page-img {
  border: 1px solid black;
}

#comment-container{
  list-style-type: none;
  padding-left: 0;
}

.comment-header{
  display: flex;
  justify-content: space-between;
}

.comment-time-stamp {
  color: grey;
}

.comment-body{
  font-size: 1rem;
}

.comment-author {
  font-weight: bold;
  color: red;
}

#comment-show-button {
  font-size: 1.25rem;
}

.up-vote-button-clicked {
  border: none;
  background-color: smokegrey;
  border: 1px solid green;
  color: green;
  font-weight: bold;
}

.down-vote-button-clicked {
  border: none;
  background-color: smokegrey;
  border: 1px solid red;
  color: red;
  font-weight: bold;
}

#counter-no-vote {
  font-size: 2.5rem;
  padding-right: 10px;
}

#counter-no-vote {
  font-size: 2.5rem;
  padding-right: 10px;
}

#counter-no-vote {
  font-size: 2.5rem;
  padding-right: 10px;
}

#counter-up-voted {
  font-size: 2.5rem;
  padding-right: 10px;
  color: green;
}

#counter-down-voted {
  font-size: 2.5rem;
  padding-right: 10px;
  color: red;
}

#up-vote-icon {
  font-size: 2.5rem;
}